.fade-enter-active, .fade-leave-active {
  transition: opacity 5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.text-center {
  text-align:center;
}

.flexCenter {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.is-horizontal-center {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

a.navbar-item.is-active {
  color:#fff !important;
}

a.navbar-item:hover {
  color:#fff !important;
}

.icon-spacer {
  margin-right:10px;
  display:inline-block;
}